<form class="sidebar" action="/api/resources" method="GET">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <input
        type="text"
        class="form-control"
        name="keyword"
        placeholder="Keyword"
      />
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label> -->
      <select
        name="category_id"
        class="custom-select mr-sm-2"
        id="inlineFormCustomSelect"
      >
        <option selected value="">Categories...</option>
        <option value="1">Javascript</option>
        <option value="2">CSS</option>
        <option value="3">HTML</option>
        <option value="4">SQL</option>
      </select>
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Rating</label> -->
      <select
        name="rating"
        class="custom-select mr-sm-2"
        id="inlineFormCustomSelect"
      >
        <option selected value="">Rating...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Content Type</label> -->
      <select
        name="content_type"
        class="custom-select mr-sm-2"
        id="inlineFormCustomSelect"
      >
        <option selected value="">Content...</option>
        <option value="Video">Video</option>
        <option value="Game">Game</option>
        <option value="Documentation">Documentation</option>
        <option value="Article">Article</option>
        <option value="Book">Book</option>
        <option value="Interactive sandbox">Interactive Sandbox</option>
        <option value="Online Course">Online Course</option>
      </select>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
